CONFIG_MODULES=y
# CONFIG_IOSCHED_BFQ is not set
CONFIG_NET=y
CONFIG_CFG80211=y
CONFIG_CFG80211_WEXT=y
CONFIG_NETDEVICES=y
CONFIG_SERIAL_DEV_BUS=y
CONFIG_HW_RANDOM=y
CONFIG_MMC=y
CONFIG_STAGING=y
CONFIG_RTL8723BS=m
CONFIG_EFIVAR_FS=y
