CONFIG_COMPILE_TEST=y
# CONFIG_WERROR is not set
CONFIG_ARCH_SUNXI=y
CONFIG_MODULES=y
# CONFIG_IOSCHED_BFQ is not set
CONFIG_NET=y
CONFIG_CFG80211=y
CONFIG_CFG80211_WEXT=y
CONFIG_NETDEVICES=y
CONFIG_SERIAL_DEV_BUS=y
CONFIG_HW_RANDOM=y
CONFIG_MMC=y
CONFIG_STAGING=y
# CONFIG_RTL8723BS is not set
CONFIG_WLAN_VENDOR_REALTEK=y
CONFIG_RTL8723DS=m
CONFIG_SUNXI_CCU=y
# CONFIG_SUN20I_PPU is not set
# CONFIG_SUN55I_PCK600 is not set
CONFIG_RESET_GPIO=y
CONFIG_RESET_TI_SYSCON=y
CONFIG_RESET_TI_TPS380X=y
CONFIG_EFIVAR_FS=y
CONFIG_INIT_STACK_ALL_ZERO=y
CONFIG_RANDSTRUCT_NONE=y
# CONFIG_CRYPTO_DEV_ALLWINNER is not set